# Node modules
node_modules/

# Build output
build/

# Environment
.env
.env.*

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Caches
.cache/
.parcel-cache/

# Misc
*.log
*.local

