/* ============================
   🎨 Color Palette
============================ */
:root {
  /* テーマ・アクセントカラー */
  --color-theme10: #e63946;
  --color-theme11: #fadde1;
  --color-accent10: #393994;
  --color-accent11: #a8dadc;
  --color-accent20: #f4a261;
  --color-accent21: #fff0d9;
  /* 背景色 */
  --color-base10: #fdfdfd;
  --color-base101: #fdfdfdcc;
  --color-base11: #f8f8f8;
  --color-base12: #f1f1f1;
  --color-base13: #a6a6a6;
  --color-base131: #a6a6a699;
  /* 文字色 */
  --color-font10: #2d2d2d;
  --color-font11: #555555;
  /* ゲージカラー */
  --color-life10: #06d6a0;
  --color-mental10: #118ab2;
  --color-charge10: #fdc500;
  --color-money10: #8d6e63;
}

/* ============================
   🔤 Typography
============================ */
body {
  font-family: "Rounded Mplus 1c";
  color: var(--color-font10);
}

/* あんま使わない、重要な数字とかだけ */
.text-pagetitle {
  /* font-size: 1.5rem; ←本来こう */
  font-size: 2.8vh;
  font-weight: 1000;
}

/* ヘッダーのタイトルサイズ */
.text-sectiontitle {
  /* font-size: 1rem; ←本来こう */
  font-size: 1.8vh;
  font-weight: bold;
  letter-spacing: 0.2vh;
  /* letter-spacing: 0.05rem; ←本来こう */
}

/* メインのテキスト */
.text-maintext {
  /* font-size: 0.75rem; ←本来こう */
  font-size: 1.3vh;
  font-weight: normal;
  /* letter-spacing: 0.04rem; ←本来こう */
}

/* 説明とか、グレーで使いがち */
.text-subtext {
  /* font-size: 0.5625rem; ←本来こう */
  font-size: 1vh;
  font-weight: normal;
}

/* ============================
   🔤 Utility
============================ */

.outer-wrapper {
  /* PCブラウザで見る用の仮ラッパー */
  width: calc(100vh * 393 / 852);
  height: 100vh;
  background-color: #fadde1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.page-container {
  display: flex;
  flex-direction: column;
  /* width: 100vw;
  height: 100vh; ←本来こう*/
  width: 100%;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  background-color: currentColor;
  position: relative;
}

.page-contents {
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
