/* ============================
   🎨 Color Palette
============================ */
:root {
  /* テーマ・アクセントカラー */
  --color-theme10: #e63946;
  --color-theme11: #fadde1;
  --color-accent10: #393994;
  --color-accent11: #a8dadc;
  --color-accent20: #f4a261;
  --color-accent21: #fff0d9;
  /* 背景色 */
  --color-base10: #fdfdfd;
  --color-base101: #fdfdfdcc;
  --color-base11: #f8f8f8;
  --color-base12: #f1f1f1;
  --color-base13: #a6a6a6;
  --color-base131: #a6a6a699;
  /* 文字色 */
  --color-font10: #2d2d2d;
  --color-font11: #555555;
  /* ゲージカラー */
  --color-life10: #06d6a0;
  --color-mental10: #118ab2;
  --color-charge10: #fdc500;
  --color-money10: #8d6e63;
}

/* ============================
   🔤 Typography
============================ */
body {
  font-family: "Rounded Mplus 1c";
  color: var(--color-font10);
}

/* あんま使わない、重要な数字とかだけ */
.text-pagetitle {
  font-size: 1.5rem;
  font-weight: normal;
}

/* ヘッダーのタイトルサイズ */
.text-sectiontitle {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
}

/* メインのテキスト */
.text-maintext {
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.04rem;
}

/* 説明とか、グレーで使いがち */
.text-subtext {
  font-size: 0.5625rem;
  font-weight: normal;
}
